body {
  font-family: Arial, Helvetica, sans-serif;
}
body .insurance-list .container {
  padding: 0;
}
body .insurance-list .container .insurance-list__header p {
  padding: 10px 25px;
  background-color: #dd3333;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}
body .insurance-list .container .insurance-list__list {
  box-shadow: 0px 0px 10px #111111;
}
body .insurance-list .container .insurance-list__list .row {
  margin: 0;
}
body .insurance-list .container .insurance-list__list .list__filters {
  padding: 0 10px 10px;
}
body .insurance-list .container .insurance-list__list .list__filters p {
  font-weight: bold;
}
body .insurance-list .container .insurance-list__list .list__filters .filters__title {
  font-size: 20px;
}
body .insurance-list .container .insurance-list__list .list__filters label {
  font-weight: normal;
}
body .insurance-list .container .insurance-list__list .list__filter {
  padding: 0 10px 10px;
}
body .insurance-list .container .insurance-list__list .list__filter .filter__title {
  font-weight: bold;
  font-size: 20px;
}
body .insurance-list .container .insurance-list__list .list__filter input {
  display: inline;
  margin: 0 0 0 15px;
  max-width: 320px;
}
body .insurance-list .container .insurance-list__list .list__filter .clearsearch {
  display: inline;
  margin: 0 0 0 -25px;
}
@media (min-width: 1200px) {
  body .insurance-list .container .insurance-list__list .list__insurances {
    overflow-x: hidden;
  }
}
.gap {
  height: 10px;
}
.hide {
  dispaly: none;
}
#search {
  padding-right: 15px;
}
.form-group span {
  position: relative;
  left: -24px;
  top: 3px;
  cursor: pointer;
  display: none;
}
.form-group span:hover {
  color: red;
}
